*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.new{
    width:70px;
    height: 25px;
    background:red;
    text-align: center;
    position: absolute;
}
.img1{
    width:250px;
    height: 250px;
    background: url(../img/ameba5.jpg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
   
    
}
.img2{
    width:250px;
    height: 250px;
    background: url(../img/ameba5.jpg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
}
.img3{
    width:250px;
    height: 250px;
    background: url(../img/ameba5.jpg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
}
.img4{
    width:250px;
    height: 250px;
    background: url(../img/ameba5.jpg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
}
body>div{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid black;
}
.img1 .new{
    transform: rotate(-25deg);
    left: -30px;
    top: -10px;
}
.img2 .new{
    transform: rotate(25deg);
    right: -30px;
    top: -10px;
}
.img4 .new{
    transform: rotate(-25deg);
    right: -30px;
    bottom: -10px;
}
.img3 .new{
    transform: rotate(25deg);
    left: -30px;
    bottom: -10px;
}
.mask{
    background: blue;
    opacity: 0.5;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    color:black;
}
.img1:hover .mask{
    display: none;
}
