html,
body {
    margin: 0;
    padding: 0;
}

div {
    margin-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-between;
    max-width: 1290px;
    text-align: center;
    margin: auto;
}

h1 {
    text-shadow: 1px 2px 0px rgba(255, 0, 246, 1), -1px -1px 0px rgba(0, 252, 255, 1);
    font-size: 58px;
}

.glitch,
.rectangle,
.button {
    flex: 100%;
}

.square,
.circle {
    flex: 50%;
    position: relative;
}

.button1 {
    border-width: 1px;
    border-color: rgb(173, 0, 0);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 59, 59);
    width: 233px;
    height: 46px;
    z-index: 4;
    color: #ffffff;
    margin-left: 400px;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.26);
    font-size: 26px;
}

input {
    text-shadow: 1px 2px 0px rgba(231, 0, 0, 1);
}

.button1:hover {
    box-shadow: inset 5px 6px 20.64px 3.36px rgba(0, 0, 0, 0.15);
}

.square1 {
    width: 256px;
    height: 210px;
    background: background: #b92360;
    background: -moz-linear-gradient(-45deg, #b92360 1%, #6d53b5 52%, #6db5ea 100%);
    background: -webkit-linear-gradient(-45deg, #b92360 1%, #6d53b5 52%, #6db5ea 100%);
    background: linear-gradient(135deg, #b92360 1%, #6d53b5 52%, #6db5ea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b92360', endColorstr='#6db5ea', GradientType=1);
    ;
    border: 1px #c2c2c2;
    margin-left: 150px;
}

.circle1 {
    background-image: -moz-linear-gradient( -45deg, rgb(41, 10, 89) 22%, rgb(255, 124, 0) 22%, rgb(255, 124, 0) 50%, rgb(41, 10, 89) 50%, rgb(41, 10, 89) 78%, rgb(255, 124, 0) 78%);
    background-image: -webkit-linear-gradient( -45deg, rgb(41, 10, 89) 22%, rgb(255, 124, 0) 22%, rgb(255, 124, 0) 50%, rgb(41, 10, 89) 50%, rgb(41, 10, 89) 78%, rgb(255, 124, 0) 78%);
    background-image: -ms-linear-gradient( -45deg, rgb(41, 10, 89) 22%, rgb(255, 124, 0) 22%, rgb(255, 124, 0) 50%, rgb(41, 10, 89) 50%, rgb(41, 10, 89) 78%, rgb(255, 124, 0) 78%);
    width: 216px;
    height: 216px;
    z-index: 13;
    border-radius: 100%;
    border: 1px #c2c2c2;
    margin-left: 150px;
}

.rectangle1 {
    width: 533px;
    height: 129px;
    border: 1px #c2c2c2;
    background: #0080a0;
    margin-left: 334px;
    box-shadow: 0px 22px 24px 0px rgba(255, 0, 0, 0.29), -27px -1px 32px 0px rgba(0, 179, 186, 0.47), 26px 7px 32px 0px rgba(255, 150, 0, 0.47);
}

li {
    box-shadow: 5.035px 6.217px 0px 0px rgba(0, 0, 0, 0.26);
    width: 709px;
    height: 104px;
    z-index: 38;
    margin-bottom: 30px;
}

.list li {
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    background-image: -moz-linear-gradient( 0deg, rgb(251, 251, 251) 36%, rgb(233, 233, 233) 42%, rgb(251, 251, 251) 49%);
    background-image: -webkit-linear-gradient( 0deg, rgb(251, 251, 251) 36%, rgb(233, 233, 233) 42%, rgb(251, 251, 251) 49%);
    background-image: -ms-linear-gradient( 0deg, rgb(251, 251, 251) 36%, rgb(233, 233, 233) 42%, rgb(251, 251, 251) 49%);
    width: 582px;
    height: 105px;
    z-index: 39;
}

.list {
    list-style: none;
    padding: 0;
    margin-left: 250px;
    counter-reset: number;
}

.list li {
    counter-increment: number;
    position: relative;
    padding-left: 130px;
}

.list li::before {
    /* так і не зміг добитися цифри з нулем */
    content: counter(number);
    position: absolute;
    font-size: 75px;
    color: #ffffff;
    text-align: center;
    left: -1px;
    top: -1px;
    height: 105px;
    width: 126px;
    background: #807777;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
}




ol li:nth-child(1):before{
background: #ff1717;
background: -moz-linear-gradient(-45deg, #ff1717 1%, #b00303 100%);
background: -webkit-linear-gradient(-45deg, #ff1717 1%,#b00303 100%);
background: linear-gradient(135deg, #ff1717 1%,#b00303 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1717', endColorstr='#b00303',GradientType=1 );
}
ol li:nth-child(2):before{
    background: #ffab17;
background: -moz-linear-gradient(-45deg, #ffab17 0%, #b05d03 100%);
background: -webkit-linear-gradient(-45deg, #ffab17 0%,#b05d03 100%);
background: linear-gradient(135deg, #ffab17 0%,#b05d03 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab17', endColorstr='#b05d03',GradientType=1 );
}
ol li:nth-child(3):before{
    background: #17ff79;
background: -moz-linear-gradient(-45deg, #17ff79 0%, #38b003 100%);
background: -webkit-linear-gradient(-45deg, #17ff79 0%,#38b003 100%);
background: linear-gradient(135deg, #17ff79 0%,#38b003 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ff79', endColorstr='#38b003',GradientType=1 );
}
ol li:nth-child(4):before{
    background: #d617ff;
background: -moz-linear-gradient(-45deg, #d617ff 0%, #7103b0 100%);
background: -webkit-linear-gradient(-45deg, #d617ff 0%,#7103b0 100%);
background: linear-gradient(135deg, #d617ff 0%,#7103b0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d617ff', endColorstr='#7103b0',GradientType=1 );
}
.new{
    position: relative;
}
.new span{
    position: absolute;
    transform: rotate(-90deg);
    color: #ff0000;
    font-size: 17px;
    font-family: 'Georgia';
    top: 33px;
    left: -52px;
}
.main {
    position: relative;
    width: 500px;
    height: 500px;
    background: #0c2f71;
    color: #ffffff;
    margin: auto;
    padding: 0;
}

.main p {
    margin: 0;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #961414;
    margin-bottom: 0;
    transition: all 1s ease;
    transform-origin: 0 100%;
}

.mask:hover {
    transform: rotate(-90deg);
    
}

.main1 {
    position: relative;
    width: 500px;
    height: 500px;
    background: #0c2f71;
    color: #ffffff;
    margin: auto;
    padding: 0;
}

.mask1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #961414;
    margin-bottom: 0;
    transition: all 1s ease;
}

.mask1:hover {
    transform: translateX(500px);
}