input,
select {
    margin-bottom: 20px;
}

.checkbox,
.radio {
    position: relative;
}

.checkbox input,
.radio input {
    position: absolute;
    left: -9999em;
    top: 0;
}

.checkbox input:checked + span i,
.radio input:checked + span i {
    transform: scale(1);
    opacity: 1;
}

.checkbox span,
.radio span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #00a4ff;
    border-radius: 3px;
    color: #006fad;
    vertical-align: top;
    margin-top: 1px;
    margin-right: 4px;
}

.radio span {
    border-radius: 100%;
    position: relative;
}

.checkbox span i {
    position: relative;
    left: 0px;
    top: -4px;
    transform: scale(1.5);
    opacity: 0;
    transition: all 0.25s ease;
}

.radio span i {
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 100%;
    background: #006fad;
    transform: scale(2.5);
    opacity: 0;
    transition: all 0.25s ease;
}

form {
    color: #08225c;
    font-size: 20px;
    border: 3px solid black;
    padding-left: 30px;
    padding-top: 20px;
    width: 50%;
}

input,
select {
    outline: none;
    border-radius: 5px;
    border: 2px solid #2d310d;
    color: #052405;
    height: 30px;
}

p {
    display: inline-block;
    margin-left: 10px;
}

.submit {
    color: azure;
    height: 40px;
    width: 150px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a2b08+0,6bc66b+100 */
    background: #0a2b08;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0a2b08 0%, #6bc66b 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #0a2b08 0%, #6bc66b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #0a2b08 0%, #6bc66b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a2b08', endColorstr='#6bc66b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}